html {
  background: url(images/welcome.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html * {
  font-family: Awesome !important;
}

a {
  text-decoration: none;
}

li{
    /* with fix for IE */
    display:inline;
    display:inline-block;
    zoom:1;
    margin: 0 14px;
}

span {
  display: inline-block;
}

.header {
  display: table;
  margin: 2% auto;
}

.header li {
  list-style: none;
}

.button {
  cursor: pointer;
  font-size: 3rem;
  color: rgb(217, 214, 209);
  font-weight: bolder;
  font-family: Awesome !important;
  text-transform: uppercase;
}

.button:hover {
  color: red;
  transform: scale(1.05);
}

.active {
  color: red;
}

.postcard {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.savoy {
  font-size: 3em;
  color: white;
  margin: 0;
  text-align: center;
  font-family: Awesome !important;
}

.hotel {
  width: 200px;
  border: 8px solid #fff;
  margin: 10% 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.address {
  color: white;
  text-align: center;
  display: block;
}

.roommates {
  font-size: 3em;
  color: white;
  margin: 0;
  text-align: center;
  font-family: Awesome !important;
}

.roomies {
  margin: 0;
}

.roomies p {
  margin: 0;
  color: white;
  font-family: Awesome !important;
  font-style: italic;
  font-size: 18px;
}

.resa {
  font-size: 2rem;
  font-weight: bolder;
  font-family: Awesome !important;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.sleep-container {
  position: absolute;
  background-color: #6192cb54;
  margin-left: 5%;
  width: 25%;
  height: 60%;
  backdrop-filter: blur(5px);
}

.room-container {
  position: absolute;
  background-color: #6192cb54;
  margin-left: 35%;
  width: 60%;
  height: 60%;
  backdrop-filter: blur(5px);
}

.room-container ul {
  margin: 0;
  text-align: center;
  padding: 0;
}

.post-content {
  text-align: center;
}

/* post it */

@import url(https://fonts.googleapis.com/css?family=Give+You+Glory|The+Girl+Next+Door|Gloria+Hallelujah|Indie+Flower);

.post-it {
  display: inline-block;
}

.sticky.taped:after {
  display: block;
  content: "";
  position: absolute;
  width: 110px;
  height: 30px;
  top: -21px;
  left: 30%;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);
}

.note {
-webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: #F4F39E;
  border-color: #DEE184;
  text-align: center;
  margin: 1.5em auto;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  width: 300px;
  font-size: 1em;
}
.note:after {
  display: block;
  content: "";
  position: absolute;
  width: 110px;
  height: 30px;
  top: -21px;
  left: 30%;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);
}

.note2 {
-webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: #acc7db;
  border-color: #acc7db;
  text-align: center;
  margin: 1.5em auto;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  width: 300px;
  font-size: 1em;
}
.note2:after {
  display: block;
  content: "";
  position: absolute;
  width: 110px;
  height: 30px;
  top: -21px;
  left: 30%;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);
}

.note3 {
-webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: #e64b1d;
  border-color: #e64b1d;
  text-align: center;
  margin: 1.5em auto;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -webkit-transform: rotate(352deg);
  -moz-transform: rotate(352deg);
  -o-transform: rotate(352deg);
  -ms-transform: rotate(352deg);
  transform: rotate(352deg);
  width: 350px;
  font-size: 1em;
}
.note3:after {
  display: block;
  content: "";
  position: absolute;
  width: 110px;
  height: 30px;
  top: -21px;
  left: 30%;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);
}

.note4 {
-webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: #fecd3c;
  border-color: #fecd3c;
  text-align: center;
  margin: 1.5em auto;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  transform: rotate(12deg);
  width: 300px;
  font-size: 1em;
}
.note4:after {
  display: block;
  content: "";
  position: absolute;
  width: 110px;
  height: 30px;
  top: -21px;
  left: 30%;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);
}

.post-it .saturday {
  margin-top: -40px;
}
